.myNavbar
{
    position:sticky;
    top:0;
    z-index:99999;
    background-color: lightsalmon;
    color: white;
}
body{
    text-align: center;
    background-color: rgb(25, 240, 229);
}
button{
    font-family: cursive;
}
h1,h2,h3,h4,h5{
    font-family: cursive;
    color: white;
}
